* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-size: cover;

  }
  
  header {
    background-color: rgba(255, 255, 255, 0.151);
    margin-bottom: 10px;
    color: white;
    display: flex;
    padding: 13px;
    justify-content: center;
    align-items: center;

  }
  
  .title{

      width: 45%;
  }
  
  nav{
    width: 65%;
  }
  nav ul {
    
    list-style: none;
    display: flex;
    font-size: 20px;
  }
  
  nav ul li {
    padding:0px 15px;
  }
  
  nav ul li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    
    
  }
  nav ul li a:hover{
    
        display: block;
        /* transform:scale(1.1); */
        color: white;
        background-color: rgba(255, 255, 255, 0.153);
        border-radius: 5px;
        
    
  }

    .loginbtn{
      padding: 10px 20px;
      margin-right: 25px;
      font-size: 17px;
      border-radius: 4px;
      border: none;
      background-color: rgba(255, 255, 255, 0.17);
      color: white;
    }
    .loginbtn a{
      text-decoration: none;
      color: white;
    }
    
    .loginbtn:hover{
      background-color: rgba(255, 255, 255, 0.247);

    }
      
        /* .container {
        max-width: 600px;
        margin: 20px auto;
        padding: 20px;
        border: 1px solid white;
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0.8);
      }
      
    
      
      form {
        display: grid;
        grid-gap: 10px;
      }

      label {
          font-weight: bold;
        }
        
        input[type="text"],
        input[type="number"],
        textarea,
        select {
            width: 100%;
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }
        
        input[type="checkbox"] {
            margin-right: 5px;
        }
        
        .submitbutton {
            width: 100%;
            padding: 10px;
            background-color: #0e96ec;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 17px;
        }
        
      .submitbutton:hover {
        background-color:#0e96eccc;
      }  */

      footer {
        margin-top: 10px;
        background-color: rgba(255, 255, 255, 0.218);
        color: #fff;
        text-align: center;
        padding: 20px;
      }
      
      footer p {
        font-size: 14px;
      }
      
    